# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Test output
*.png
*.pdf

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Vercel build output
.vercel/
.now/

# Local environment files
.env
.env.*

# PyInstaller
*.manifest
*.spec

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Some testing tools
final_test.py